@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: ltr;
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #888888;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

a:hover {
  text-decoration: none;
  color: #000;
}

* {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background: #FFF8E1;
}

*::selection {
  background: #FFF8E1;
}

*::-moz-selection {
  background: #FFF8E1;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  padding: 40px 35px;
  z-index: 2;
}

.content:before, .content:after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  z-index: -1;
}

.content .avatar {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  margin-bottom: 35px;
  overflow: hidden;
  border-radius: 100%;
}

.content .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 30px;
}

.content .social a {
  border-radius: 100%;
  padding: 5px;
  background: #222;
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.content .social a:hover {
  background: #000;
  -webkit-transform: translateY(-3px) !important;
          transform: translateY(-3px) !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.content .social a:focus, .content .social a:active {
  background: #000;
  outline: none;
}

.content .social a img {
  width: auto;
  height: 20px;
}

.content .bio {
  font-size: 1.5rem;
}

@media screen and (min-width: 568px) {
  .content {
    padding: 80px 45px;
  }
}

@media screen and (min-width: 768px) {
  .content:before, .content:after {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .content {
    padding: 85px;
  }
  .content .bio {
    font-size: 1.9rem;
  }
}

.tooltip {
  margin-bottom: 5px;
  background: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50px;
  margin-bottom: 15px;
  position: relative;
}

.tooltip * {
  font-weight: 300 !important;
  font-size: 12px;
}

.tooltip:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  margin: auto;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #000;
}

.tooltip-inner {
  font-weight: bold;
}

.bg-full {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: zhooop 5s;
          animation: zhooop 5s;
  opacity: .2;
}

@-webkit-keyframes zhooop {
  from {
    opacity: 0;
  }
  to {
    opacity: .2;
  }
}

@keyframes zhooop {
  from {
    opacity: 0;
  }
  to {
    opacity: .2;
  }
}

.works {
  margin-top: 25px;
  font-size: 18px;
}

.works * {
  color: #000;
}

.works h3 {
  font-size: 2rem;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */