// Copyright 2018 Arman Shojaei
// Project name: vCard

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import 'media';
// Vars
$trans: all 350ms;

body {
    min-height: 100vh;
    display: flex;
    direction: ltr;
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: rgb(136, 136, 136);
    transition: $trans;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

* {
    font-size: 100%;
    box-sizing: border-box;
    &::selection {
        background: #FFF8E1;
    }
    &::-moz-selection {
        background: #FFF8E1;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 40px 35px;
    z-index: 2;

    &:before,
    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        height: 10px;
        z-index: -1;
    }
    .avatar {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        margin-bottom: 35px;
        overflow: hidden;
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        a {
            border-radius: 100%;
            padding: 5px;
            background: #222;
            color: white;
            margin-right: 15px;
            margin-bottom: 15px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 350ms;
            &:hover {
                background: #000;
                transform: translateY(-3px) !important;
                box-shadow: 0 5px 10px rgba(0,0,0,0.15); 
            }
            &:focus,
            &:active {
                background: #000;
                outline: none;
            }
            img {
                width: auto;
                height: 20px;
            }
        }
    }

    .bio {
        font-size: 1.5rem;
    }

    @include up-568 {
        padding: 80px 45px;
    }

    @include up-768 {
        &:before,
        &:after {
            display: none;
        }
    }

    @include up-992 {
        padding: 85px;
        .bio {
            font-size: 1.9rem;
        }
    }
}

.tooltip {
    margin-bottom: 5px;
    background: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50px;
    margin-bottom: 15px;
    position: relative;

    * {
        font-weight: 300 !important;
        font-size: 12px;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -5px;
        margin: auto;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 8px solid #000;
    }
}

.tooltip-inner {
    font-weight: bold;
}

.bg-full {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    animation: zhooop 5s;
    opacity: .2;
}

@keyframes zhooop {
    from {
        opacity: 0;
    }
    to {
        opacity: .2;
    }
}


.works {
    margin-top: 25px;
    font-size: 18px;
    * {
        color: #000;
    }
    h3 {
        font-size: 2rem;
        margin: 0;
    }
}